*{
  /* Define margem, preenchimento e modelo de caixa para todos os elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
     /* Configurações do container principal */
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(135deg, lightblue, grey);
    padding: 10px;

}

.todo-app{
    /* Estilização da aplicação de lista de tarefas */
    width: 100%;
    max-width: 540px;
    background: #0e6a81;
    margin: 100px auto 28px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    /* Estilo do título da aplicação com imagem de checklist */
    color: #ffffffe5;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
    
}

.todo-app h2 img{
    /* Estilo da imagem ao lado do título */
    width: 30px;
    margin-left: 10px;
}

.row{
     /* Estilo da linha contendo a caixa de texto e botão de adicionar */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    /* Estilo da caixa de entrada de texto */
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    /* Estilo do botão de adicionar */
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #189241;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    /* Estilo dos itens da lista */
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #fff;
}

ul li::before{
    /* Elemento visual antes de cada item da lista */
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(imagens/circulo-de-fase-da-lua-nova.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    /* Estilo para itens marcados como concluídos */
    color: #95c2bad2;
    text-decoration: line-through;
}

ul li.checked::before{
    /* Alteração do elemento visual para itens marcados como concluídos */
    background-image:url(imagens/checklist.png) ;
}

ul li span{
    /* Estilo para o ícone de exclusão à direita de cada item */
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    /* Efeito de destaque ao passar o mouse sobre o ícone de exclusão */
    background: #eb3b3bcc;
}
